*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    align-items: last baseline;
    justify-content: center;
    min-height: 100vh; 
    
  }
  footer {
    position: relative;
    background: #333; 
    padding: 8rem 0 1rem;
    width: 100%; 
    color: #abb2b9;
  }
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0; 
  }

  .footer-contents {
    display: grid;
    gap: 4rem;
  }

  .footer-contents-top,.footer-contents-bottom{
    position: relative;
    display: flex; 
    flex-wrap: wrap;
    align-items: first baseline; 
    justify-content: center;
    gap: 8rem; 
    padding: 0 1rem;
  }
  .footer-contents-top .logo {
    width: 20%;
  }
  .footer-contents-top .logo li:nth-child(1){ 
    font-size: 1.5rem; 
    padding-bottom: .3rem;
    color: #FFFFFF;
  }
  .footer-contents-top .header{
    font-size: 1rem;
    padding-bottom: .3rem;
    color: #FFFFFF;
  }
  .footer-contents li a{
    display: flex;
    color: #abb2b9;
    padding: .2rem 0; 
    font-size: .9rem; 
    text-decoration: none;
  }
  .footer-contents li a:hover {
    color: #FFFFFF;
  }
  .footer-contents-top ul:nth-last-child(1) li +li {
    display: flex;
  }
  .footer-contents-top ul:nth-last-child(1) li + li a {
    padding: .3rem .5rem .3rem 0;
  }
  .footer-contents-bottom {
    padding-top: 1rem;
    border-top: 1px solid gray;
  }
  @media screen  and (max-width:768px){
    .footer-contents-top .logo {
        width: 100%;
      }
  }